/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap");
.counter-ul {
  padding: 25px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  list-style-type: none; }

.counter-li {
  flex: 1;
  text-align: center;
  font-size: 50px;
  border: 1px solid #bebebe;
  margin: 1rem;
  padding: 2rem; }

.counter-text {
  font-size: 2.2rem;
  color: #979c9f; }

.hours-worked:before {
  content: "~"; }

.satisfied-customers:after,
.satisfied-employees:after {
  content: "+";
  display: inline-block; }

.fas-counter {
  color: #5C9DD5; }

.flip-card {
  background-color: transparent;
  width: 22rem;
  height: 22rem;
  perspective: 1000px;
  margin: 2rem auto; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 10px solid #5C9DD5; }

.flip-card-front {
  background-color: #bbb;
  color: black;
  font-size: 3rem; }

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  margin: 0 auto; }

.flip-card-img {
  width: 8rem;
  height: 8rem;
  margin: 3.5rem 0 2rem 0; }

.cards-wrapper {
  padding: 0 7rem; }
  @media only screen and (max-width: 37.5em) {
    .cards-wrapper {
      padding: 0; } }

.flip-card-h {
  font-size: 3rem; }

.flip-card-p {
  font-size: 2.2rem;
  line-height: 90%; }

.card-last {
  margin-bottom: 6rem; }

.contact-form {
  background-image: linear-gradient(to bottom, #f6f6f6, #e9e9e9); }
  .contact-form-h1 {
    font-size: 4rem;
    margin-top: 8rem;
    padding-top: 5.5rem;
    padding-bottom: 3rem; }

.wrap {
  background: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
  height: 100vh; }

.cool-b4-form .btn {
  border-radius: 0;
  background-color: #5C9DD5;
  color: white;
  font-size: 3rem;
  background-color: #5C9DD5;
  border: #5C9DD5;
  padding: 2rem 3rem;
  margin-top: 2rem; }
  .cool-b4-form .btn:hover {
    background-color: #0069d9; }

.cool-b4-form .form-group {
  font-size: 2.2rem;
  position: relative;
  padding-top: 20px;
  margin-bottom: 0;
  /* If there's only 1 input make it full height */ }
  .cool-b4-form .form-group:first-child:last-child {
    height: 100%; }
    .cool-b4-form .form-group:first-child:last-child .form-control {
      height: 100%;
      font-size: 2.5rem; }
  .cool-b4-form .form-group textarea {
    resize: none; }
  .cool-b4-form .form-group .input-highlight {
    content: "";
    width: 0;
    height: 2px;
    background: #5C9DD5;
    position: absolute;
    display: block;
    bottom: 0;
    transition: width 0.4s ease; }
  .cool-b4-form .form-group label {
    position: absolute;
    left: 10px;
    top: 25px;
    transition: all 0.4s ease; }
  .cool-b4-form .form-group .form-control {
    border-radius: 0;
    border-width: 0 0 2px 0; }
    .cool-b4-form .form-group .form-control:focus, .cool-b4-form .form-group .form-control.hasValue {
      box-shadow: none;
      border-color: #ced4da; }
      .cool-b4-form .form-group .form-control:focus ~ .input-highlight, .cool-b4-form .form-group .form-control.hasValue ~ .input-highlight {
        width: 100%; }
      .cool-b4-form .form-group .form-control:focus ~ label, .cool-b4-form .form-group .form-control.hasValue ~ label {
        transform: scale(0.7);
        top: 0;
        left: 0; }

input[type="text"],
input[type="email"],
input[type="message"] {
  font-size: 2.2rem; }

.contact-fa {
  color: #5C9DD5; }
  .contact-fa-list {
    font-size: 2.2rem; }

@media only screen and (max-width: 62em) {
  .fa-last {
    padding-bottom: 5rem; } }

.contact-btn {
  margin-bottom: 8rem; }

.footer {
  color: white;
  margin: 0;
  background-color: #343a40;
  font-size: 1.6rem;
  color: #f3f3f3; }
  .footer-fa {
    font-size: 2.2rem; }
  .footer-fa:hover {
    color: #5C9DD5; }
  .footer-logo-a {
    font-size: 3rem;
    color: #5C9DD5; }

footer a {
  color: white; }

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Baloo Tamma 2', cursive; }

.info {
  background-color: #343a40; }

.header-contacts {
  display: inline-block;
  font-size: 1.5rem;
  color: white; }

.header-contact {
  display: inline-block;
  padding: 1rem 1rem; }

.header-phone,
.header-email {
  color: white; }

.header-phone:hover,
.header-email:hover {
  color: #49adff; }

.languages {
  display: inline-block;
  transform: translateY(-0.7rem);
  padding-right: 1rem; }

.home-inner {
  height: 100vh;
  filter: brightness(75%); }

.home-img {
  float: left;
  width: 50%;
  height: 100%;
  object-fit: cover; }
  .home-img-construction {
    border-right: 4px solid #bebebe; }
  .home-img-contract {
    border-left: 4px solid #bebebe; }

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase; }

.caption h1 {
  font-size: 5rem;
  text-shadow: .1rem .1rem .8rem black; }

.caption h3 {
  font-size: 3rem;
  text-shadow: .1rem .1rem .5rem black; }

.landing-info-wrapper {
  display: flex; }

.landing-btn {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.landing-btn:hover {
  text-shadow: none; }

.looking-job,
.searching-hire {
  margin: 10rem auto; }
  @media only screen and (max-width: 37.5em) {
    .looking-job,
    .searching-hire {
      width: 45%;
      transform: translateY(-10%); } }

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 2.2rem;
  font-weight: 600; }

.navbar {
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  height: 6rem;
  z-index: 999 !important; }
  .navbar-brand {
    font-size: 1.6rem; }
  .navbar-collapse {
    background-color: #343a40; }

.nav-item {
  padding-right: .7rem; }

.about {
  margin-top: 4rem; }
  .about-container {
    background-image: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
    padding: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .about-container {
        padding: 0; } }
  .about-h1 {
    font-size: 4rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .about-h1 {
        padding-top: 2rem; } }
  .about-p {
    font-size: 2.5rem;
    padding: 2rem; }
    @media only screen and (min-width: 112.5em) {
      .about-p {
        padding: 4rem 30rem; } }

.services {
  margin: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .services {
      margin: 0; } }
  .services-container {
    padding: 25px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-evenly; }
  .services-wrapper {
    border: 1px solid #bebebe;
    padding-top: 1rem; }
  .services-img {
    display: block;
    margin: 0 auto; }
  .services-h1 {
    font-size: 4rem;
    text-align: center; }
  .services-h2 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5C9DD5;
    margin: 1rem 0; }
  .services-p {
    font-size: 2.5rem;
    text-align: center; }
  .services-info {
    font-size: 2.5rem;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 6rem; }
    @media only screen and (min-width: 112.5em) {
      .services-info {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .services-info {
        width: 100%;
        padding: 2rem; } }

.employers {
  background-image: url("../images/backgrounds/crowd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .employers-wrapper {
    background: rgba(9, 44, 68, 0.9);
    background-size: cover;
    color: white;
    margin: 0; }
  .employers-h1, .employers-why-h {
    font-size: 4rem;
    text-align: center;
    margin-top: 6rem; }
    @media only screen and (min-width: 112.5em) {
      .employers-h1, .employers-why-h {
        padding-bottom: 3rem; } }
  .employers-h2 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem auto;
    width: 75%; }
  .employers-p {
    font-size: 2.5rem;
    width: 75%;
    margin: 3rem auto; }
    @media only screen and (max-width: 37.5em) {
      .employers-p {
        width: 100%; } }

.providing-h {
  margin-top: 6rem;
  font-size: 4rem;
  text-align: center; }

.providing-ul {
  margin: 4rem auto 7rem auto;
  max-width: 120rem;
  max-height: 70rem; }

.providing-li {
  background-image: url(/images/backgrounds/areas.png);
  font-size: 3rem;
  border: 1px solid #bebebe;
  list-style-type: none;
  text-align: center;
  padding: 7rem 0;
  text-decoration: underline;
  text-decoration-color: #5C9DD5; }

.interested {
  padding: 7rem;
  border: 10px solid #5C9DD5; }
  @media only screen and (max-width: 37.5em) {
    .interested {
      padding: 3rem;
      margin-top: 15rem; } }
  .interested-h {
    margin-bottom: 4rem;
    font-size: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .interested-h {
        padding-top: 3rem;
        margin-bottom: 0; } }
  .interested-ul {
    margin: 5rem auto;
    max-width: 120rem;
    max-height: 70rem;
    list-style: none;
    counter-reset: my-awesome-counter; }
  .interested-li {
    font-size: 2.5rem;
    counter-increment: my-awesome-counter; }
    .interested-li::before {
      content: counter(my-awesome-counter) ". ";
      color: #5C9DD5;
      font-weight: bold; }
  .interested-p {
    font-size: 2.5rem; }
  .interested-button {
    font-size: 3rem;
    background-color: #5C9DD5;
    border: #5C9DD5;
    padding: 2rem 3rem;
    margin-top: 2rem; }

.employees {
  background-image: url("/images/backgrounds/work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75rem; }
  @media only screen and (max-width: 62em) {
    .employees {
      height: 100%;
      margin-top: 9rem; } }
  .employees-wrapper {
    background-color: rgba(255, 255, 255, 0.733);
    margin: 10rem auto;
    padding: 7rem;
    transform: translateY(9.5rem); }
    @media only screen and (max-width: 62em) {
      .employees-wrapper {
        height: 100%;
        padding: 1rem;
        padding-top: 3rem;
        margin-top: 3rem;
        transform: translateY(0); } }
    @media only screen and (max-width: 37.5em) {
      .employees-wrapper {
        height: 100%;
        padding: 1rem;
        margin-top: 3rem;
        transform: translateY(0); } }
  .employees-h1 {
    font-size: 4rem; }
  .employees-h2 {
    font-size: 3rem;
    margin: 2rem 0; }
  .employees-p {
    font-size: 2.5rem;
    margin: 2rem 0; }

.will {
  margin: 8rem auto; }
  .will-h1 {
    font-size: 4rem;
    margin: 2rem auto; }
  .will-ul {
    font-size: 2.5rem; }
  .will-li {
    color: #5C9DD5; }
    .will-li span {
      color: black; }
    @media only screen and (max-width: 37.5em) {
      .will-li {
        margin-left: 2rem; } }
  .will-p {
    font-size: 2.5rem;
    margin: 2rem auto; }
