// COLORS
$color-grey-light-1: rgb(190, 190, 190);
$color-grey-light-2: #979c9f;

$color-grey-dark-1: #343a40;

// FONT
$default-font-size: 1.6rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$p-font-size: 2.5rem;
$p-font-size-s: 2.2rem;
