.about {
    

    &-container {
        // background: rgb(218, 218, 218);
        background-image: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
        padding: 6rem;

        @include respond(phone) {
            padding: 0;
        }

        
    }


    margin-top: 4rem;
    &-h1 {
        font-size: $h1-font-size;
        text-align: center;

        @include respond(phone) {
            padding-top: 2rem;
        }
    }

    &-p {
        font-size: $p-font-size;
        padding: 2rem;

        @include respond(big-desktop) {
            padding: 4rem 30rem;
        }
    }
}

.services {
    margin: 4rem;

    @include respond(phone) {
            margin: 0;
        }

    &-container {
        padding: 25px;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;

        
    }

    &-wrapper {
        border: 1px solid $color-grey-light-1;
        padding-top: 1rem;
    }

    &-img {
        display: block;
        margin: 0 auto;
        
    }

    &-h1 {
        font-size: $h1-font-size;
        text-align: center;


    }

    &-h2 {
        font-size: $h2-font-size;
        text-decoration: underline;
        text-decoration-color: $color-blue-1;
        margin: 1rem 0;
    }

    &-p {
        font-size: $p-font-size;
        text-align: center;
    }

    &-info {
        font-size: $p-font-size;
        width: 65vw;
        margin: 0 auto;
        margin-bottom: 6rem;

        @include respond(big-desktop) {
            width: 50%;
        }
    }
}

