.info {
    background-color: $color-grey-dark-1;
}

.header-contacts {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    
}

.header-contact {
    display: inline-block;
    padding: 1rem 1rem;
}

.languages {
    display: inline-block;
    transform: translateY(-.7rem);
    padding-right: 1rem;
}

.home-inner {
    background-image: url(/img/landing-background2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: brightness(75%);
    background-attachment: fixed;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 5rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
    font-size: 3rem;
    text-shadow: .1rem .1rem .5rem black;
}

.landing-info-wrapper {
    display: flex;
}

.looking-job,
.searching-hire {
    margin: 10rem auto;
}


.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 2.2rem;
    font-weight: 600;
}

