.navbar {
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    background-color: white;
    z-index: 5;
    top: 0;
    position: sticky;
    height: 6rem;
}

.navbar-brand {
    font-size: 1.6rem;
}