.contact-form {


    background-image: linear-gradient(to bottom, #f6f6f6, #e9e9e9);

    &-h1 {
        font-size: $h1-font-size;
        margin-top: 8rem;
        padding-top: 5.5rem;
        padding-bottom: 3rem;
    }
}

// Background
.wrap {
    background: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
    height: 100vh;
}


// Start copying here
$underline-color: $color-blue-1;

.cool-b4-form {
.btn {
    border-radius: 0;
    background-color: $color-blue-1;
    color: white;

    font-size: $h2-font-size;
    background-color: $color-blue-1;
    border: $color-blue-1;
    padding: 2rem 3rem;
    margin-top: 2rem;

    &:hover {
        background-color: #0069d9;
        
    }

}
.form-group {
    font-size: $p-font-size-s;
    position: relative;
    padding-top: 20px;
    margin-bottom: 0;



    /* If there's only 1 input make it full height */
    &:first-child:last-child {
        height: 100%;
    .form-control {
        height: 100%;
        font-size: $p-font-size;
    }
    }
    textarea {
        resize: none;
    }
    .input-highlight {
        content: "";
        width: 0;
        height: 2px;
        background: $underline-color;
        position: absolute;
        display: block;
        bottom: 0;
        transition: width 0.4s ease;
    }

    label {
        position: absolute;
        left: 10px;
        top: 25px;
        transition: all 0.4s ease;
    }

    .form-control {
        border-radius: 0;
        border-width: 0 0 2px 0;


    &:focus,
    &.hasValue {
        box-shadow: none;
        border-color: #ced4da; // Otherwise the border turns blue
        ~ .input-highlight {
            width: 100%;
        }
        ~ label {
            transform: scale(0.7);
            top: 0;
            left: 0;
        }
    }
    }
}
}


input[type="text"],
input[type="email"],
input[type="message"] 
{
    font-size: $p-font-size-s;
}

.contact-fa {
    color: $color-blue-1;

    &-list {
        font-size: $p-font-size-s;
    }

}

.fa-last {

    @include respond(tab-port) {
            padding-bottom: 5rem;

    }
}

.contact-btn {
    margin-bottom: 8rem;
}

.contact-wrap {
    
}

// .footer {
    // background-color: #343a40;
    // font-size: $default-font-size;
    // color: #f3f3f3;

//     &-container {
        

//     }


//     &-logo-a {
//         font-size: $h2-font-size;
//     }

//     &-list {
        
//     }
// }


.footer {
    color: white;
    // padding: 2rem 0 2rem;
    // margin-top: 1rem;
    margin: 0;

    background-color: #343a40;
    font-size: $default-font-size;
    color: #f3f3f3;

    &-fa {
        font-size: $p-font-size-s;

    }

    &-fa:hover {
        color: $color-blue-1;
    }

    &-logo-a {
        font-size: $h2-font-size;
        color: $color-blue-1;
    }
}

.footer-fa:hover {
}

footer a {
    color: white;
}


hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}