*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // box-sizing: inherit;
    
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

body {
    // overflow-x: hidden;
    font-family: 'Baloo Tamma 2', cursive;

}
